<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p id="little-introduction">
          I am a Machine Learning engineer currently working at Taiwan AI Labs.
          In AI Labs, I am responsible for developing and the deployment of deep
          learning models for news analysis.
          I am also the main maintainer of the ELK stack using in our website <a
            href="https://islander.cc">Islander.cc</a>.
          Before I joined AI Labs, I've worked as a research assistant in
          Academia Sinica, supervised by Dr. Lun-Wei Ku.
          During my time in research, I've published one long paper about neural
          storytelling in AAAI
          and one long paper about knowledge based question answering in NAACL.
        </p>
        <p>
          I love building things and exploring the unknown.
          I believe to work smart, which is to spend time on those really
          important things.
          I am not afraid of getting my hands dirty. That is, I believe it's the
          engineers' job to get things done.
          Besides coding, I am also good at communication, teaching, and
          management.
          I have considerable experience about programming tutor, from which I
          learned that the key is to be patient and empathetic.
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0;">Highlights</h3>
        <ul id="list-of-highlight-in-my-career">
          <li>
            Manage the agile development process in our team, including holding
            the sprint planning and sprint retrospective meeting,
            defining user stories and communicating with team members to ensure
            we are towarding the same goal.
          </li>
          <li>
            Setting up the Elasticsearch stack to serve the search request of
            our website.
            Construct data pipelines and develop queries with aggregations which
            boosts the searching performance from several minutes to less than a
            second.
            <li>
              Develop BERT-based deep learning models for analysis about
              sentiment and suspicious aspect of news. Deploy the model to
              production environment on k8s cluster.
              <li>
                Published a long paper "Knowledge-Enriched Visual Storytelling"
                at AAAI 2020.
              </li>
              <li>
                Published and present a long paper "uhop an unrestricted-hop
                relation extraction framework for knowledge-based question
                answering"
                at NAACL 2019
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
