<section class="tout" id="experience">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Experience</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<ul>
					<li>
						<b>Machine Learning Engineer</b> @ Taiwan AI Labs<br> 2020/02 ~ now <br>
						<ul>
							<li>
								Natural Language Process for News Analysis
							</li>
							<li>
								Elasticsearch
							</li>
							<li>
								Others
							</li>
						</ul>
					</li>
					<li>
						<b>Research Assistant</b> @ NLP Lab, Academia Sinica<br> 2017/09 -
						2020/02<br>
						<ul>
							<li>
								Knowledge Based Question Answering
							</li>
							<li>
								Knowledge Enriched Visual Storytelling
							</li>
							<li>
								Misc
							</li>
						</ul>
					</li>
					<li>
						<b>Software Engineer intern</b> @ Ruckus Wireless <br> 2016/07 - 2016/08
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Github Projects</h3>
				<ul>
					<li>
						KE-VIST(<a href="https://github.com/zychen423/KE-VIST">github</a>)
					</li>
					<li>
						UHop(<a href="https://github.com/zychen423/UHop">github</a>)
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>
