<section class="tout" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Publications</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ol id="publications-ol">
                    <li>
                        <b>Knowledge-Enriched Visual Storytelling</b>
                        <br>
                        Chao-Chun Hsu, <b>Zi-Yuan Chen</b>, Chi-Yang Hsu,
                        Chih-Chia Li, Tzu-Yuan Lin, Ting-Hao Kenneth Huang,
                        Lun-Wei Ku @ AAAI 2020

                    </li>
                    <li>
                        <b>Detecting Deceptive Language in Crime Interrogation</b>
                        <br>
                        Yi-Ying Kao, Po-Han Chen, Chun-Chiao Tzeng,<b>Zi-Yuan
                            Chen</b>, Boaz Shmueli, Lun-Wei Ku @ HCI (24) 2020
                    </li>
                    <li>
                        <b>UHop: An Unrestricted-Hop Relation Extraction
                            Framework for Knowledge-Based Question Answering</b>
                        <br>
                        <b>Zi-Yuan Chen</b>, Chih-Hung Chang, Yi-Pei Chen,
                        Jijnasa Nayak, Lun-Wei Ku @ NAACL-HLT(1) 2019

                    </li>
                    <li>
                        <b>Dixit: Interactive Visual Storytelling via Term
                            Manipulation</b>
                        <br>
                        Chao-Chun Hsu, Yu-Hua Chen, <b>Zi-Yuan Chen</b>, Hsin-Yu
                        Lin, Ting-Hao (Kenneth) Huang, Lun-Wei Ku @ WWW 2019
                    </li>
                    <li>
                        <b>A Unified RvNN Framework for End-to-End Chinese
                            Discourse Parsing</b>
                        <br>
                        Lin Chuan-An, Hen-Hsen Huang, <b>Zi-Yuan Chen</b>,
                        Hsin-Hsi Chen @ COLING(Demos) 2018

                    </li>
                    <li>
                        <b>Relation Extraction in Knowledge Base Question
                            Answering: From General-Domain to the Catering
                            Industry</b>. <br>
                        Hung-Chen Chen, <b>Zi-Yuan Chen</b>, Sin-Yi Huang,
                        Lun-Wei Ku, Yu-Shian Chiu, Wei-Jen Yang @ HCI(23) 2018
                    </li>
                    <li>
                        <b>NLPSA at IJCNLP-2017 Task 2: Imagine Scenario:
                            Leveraging Supportive Images for Dimensional
                            Sentiment Analysis</b>.
                        <br>
                        Szu-Min Chen, <b>Zi-Yuan Chen</b>, Lun-Wei Ku @ IJCNLP
                        (Shared Tasks) 2017

                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>